<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Explore Byte Tutorial</title>
    
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this project -->
    <link href="css/explore.css" rel="stylesheet">
  </head>
  
  <body role="document">
    
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
   <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container theme-showcase" role="main">
      
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
<h1>Exploratory Analysis Byte 2 <h1>
	<p> Rachel Wong </p>
        <p>Question: Has the number of Mexican citizens crossing the border increased or decreased?</p>
        <p>Exploration: I explored this question by creating a bar graph for each of the three U.S. borders that the observed immigrants 
        were attempting to cross. The x-axis shows the year the numbers were collected and the y-axis displays the number of US immigrants 
        counted. The bars represent the total number of immigrants apprehended by the border patrols, with the light blue part representing how 
        many of them came from Mexico.
  
      </div>
      
<img src="/images/coastal.jpg" alt="HTML5 Icon" style="width:1000px;height:500px;">

<img src="/images/northern.jpg" alt="HTML5 Icon" style="width:1000px;height:500px;">

<img src="/images/southwest.jpg" alt="HTML5 Icon" style="width:1000px;height:500px;">

	<h2> Findings: </h2>
	
	<p> Immigration numbers, in general, have greatly decreased since 2000 at every border.
	The number of The number of immigrants from Mexico have also decreased since 2000 at every border, 
	as well. There are higher numbers of Mexican immigrants coming from the southwest border, which makes 
	sense geographically. </p>
	<p>
	<h2> Further analysis: </h2> 
	<p> I would be interested to dive deeper and look into the specifics of each sector and state. It would also be 
	cool to see a graphical mapping of the numbers from this dataset. I would also look into more background information
	about the border patrol and how they apprehend illegal immigrants. Also, I would see if there have been any policy or 
	procedural changes that could explain the extreme drop in illegal immigration numbers. 
	
	</p>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>

 		   
</script>
</body>
</html>
