<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li  class="active"><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality: About This Data Set</h1>
        <p> </a></p>
      </div>

    
      <div class="page-header">
	<h2>Is the data complete?</h2>
	
	<p>	The data is not complete. There was a row of data taken from the 
        coastal border that I omitted as soon as I loaded the data because it only had 
        data for the first five years. One concern I have is that this is only the count of people
        that have been accosted by the border patrol, so this is only a "partial measure of the flow of people
        entering the United States". The true illegal immigration numbers/distribution could be much different because it is impossible to locate and 
	count every illegal immigrant in the United States. </p>
        
      </div>
      
      <div class="page-header">
	<h2>Is the data coherent?</h2>
	<p> Given the current political events, I do think that the data makes sense. Looking at the data 
	from multiple other sources and in the general news, there have been many different analysis reports 
	concluding that the number of illegal immigrants, both in general and from Mexico, have decreased over
	the last 16 years. </p>
      </div>

      <div class="page-header">
	<h2>Is the data correct?</h2>
	<p> The data does seem to be correct. I looked into the NA's found in the first row for the coastal 
	border and found that the Livermore sector of the border patrol was shut down after 2004, which accounts for the missing data. 
	Livermore is also more inland California, so I feel that excluding it from our analysis is acceptable. </p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
